.imgs .container {
    padding: 25px 0;
}

.imgs .container .img-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.imgs .container .img-flex .img-one {
    width: 20%;
    height: 250px;
    background-size: cover;
    background-repeat: round;
    border-radius: 8px;
    overflow: hidden;
}

.imgs .container .img-flex:first-of-type .img-one:first-of-type {
    background-image: url(./css/download\ \(1\).jpg);
}

.imgs .container .img-flex:first-of-type .img-one:nth-of-type(2) {
    background-image: url(./css/download\ \(3\).jpg);
}

.imgs .container .img-flex:first-of-type .img-one:nth-of-type(3) {
    background-image: url(./css/images\ \(3\).jpg);
}

.imgs .container .img-flex:nth-of-type(2) .img-one:first-of-type {
    background-image: url(./css/images\ \(1\).jpg);
}

.imgs .container .img-flex:nth-of-type(2) .img-one:nth-of-type(2) {
    background-image: url(./css/images\ \(2\).jpg);
}

.imgs .container .img-flex:nth-of-type(2) .img-one:nth-of-type(3) {
    background-image: url(./css/how-to-get-your-trips-sponsored.jpg);
}

.imgs .container .img-flex:last-of-type .img-one:first-of-type {
    background-image: url(./css/0_0v3IvNZT5toH7XbP.jpg);
}

.imgs .container .img-flex:last-of-type .img-one:nth-of-type(2) {
    background-image: url(./css/images\ \(6\).jpg);
}

.imgs .container .img-flex:last-of-type .img-one:nth-of-type(3) {
    background-image: url(./css/download\ \(2\).jpg);
}

.imgs .container button {
    padding: 20px 10px;
    margin-top: 35px;
    background-color: #727781;
    color: #EEE;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.imgs .container button:hover {
    color: #121212;
}